<div class="modal-body">
    <form name="ChangePasswordForm" ng-submit="changePasswordModal.changePassword(changePasswordModal.currentUser)" novalidate autocomplete="off">
        <div class="form-group">
            <label><h3>Change Password</h3></label>
            <div class="form-group">
                <label>Current Password</label>
                <input type="password" ng-model="changePasswordModal.currentUser.CurrentPassword" class="form-control" required />
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input type="password" ng-model="changePasswordModal.currentUser.NewPassword" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!$%@#£€*?&]{8,}$" pattern-err-type="customPassword" class="form-control" confirmpassword="{{changePasswordModal.currentUser.ConfirmPassword}}" required />
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" ng-model="changePasswordModal.currentUser.ConfirmPassword" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!$%@#£€*?&]{8,}$" pattern-err-type="customPassword" class="form-control" confirmpassword="{{changePasswordModal.currentUser.NewPassword}}" required />
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="ChangePasswordForm.$invalid || changePasswordModal.currentUser.NewPassword != changePasswordModal.currentUser.ConfirmPassword"
                    ng-click="changePasswordMocal.submit()">Submit</button>
            <button type="button" class="btn btn-default" ng-click="changePasswordModal.cancel()">Back to Account</button>
        </div>
    </form>
</div>