<article>
    <ul class="nav nav-pills">
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="cart">Cart</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".shipping">Shipping</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".payment">Payment</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".review" ui-sref-opts="{reload:'base'}">Review</a>
        </li>
    </ul>
    <hr>
    <div ui-view></div>
</article>